 h1 {

   font-size: 150%;

}

body{
  align-items: center;
}

#button1 {

  size: 50px;
  background-color: pink;

}

#button2 {

  size: 50px;
  background-color: lightsalmon;

}

#button3 {

  size: 50px;
  background-color: rgb(255, 255, 189);

}

#button4 {

  size: 50px;
  background-color: lightgreen;

}
#button5 {

  size: 50px;
  background-color: lightskyblue;

}#buttonbuy {

  height: 50px;
  width: 200px;
  background-color: pink;
  border-radius: 25%;
  font-size:15px;
  font-weight: bold;
}

#logo {

  height: auto;
  width: 15%;
  position: absolute;
  bottom: 0;
}
#logo2 {

  height: auto;
  width: 10%;
  position: absolute;
  bottom: 0;
}

#firstproduct {

  height: auto;
  width: 50%;
  padding: 2%;
  padding-bottom: 0%;
}
#print2 {
  height: 90%;
  width: 100%;
  padding: 2%;
  padding-bottom: 0%;
  border-radius: 50px

}

#product2 {
  height: auto;
  width: 50%;
  padding: 2%;
  padding-bottom: 0%;
  border-radius: 50px;

}

#description {
  margin-left: 5%;
  margin-top: 0%;
  padding-top: 0%;
}

#insidediv{
  display: inline-block;
  width: 50%;
  padding: 0%;
  align-items: center;
}

#item{
  background-color: white;
  display: flex;
  width: 20%;
  height: 70%;
  border-radius: 30px;
  margin-top: 5%;
  flex-direction: column;
}

#frog {
  background-color: white;
  margin-left: 5%;

}

#outside {
  display: flex;
  justify-content: center;
  align-items: center;
}